@font-face {
  font-family: 'pt_serifbold';
  src:url('fonts/PTSerifBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serifbold_italic';
  src: url('fonts/PTSerifBoldItalic.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'pt_serifitalic';
  src: url('fonts/PTSerifItalic.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'pt_serif';
  src: url('fonts/PTSerifRegular.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
